#top{
background-color: white;    
position:fixed;
display: flex;
width: 100%;
top:0px;
height: 50px;
z-index: 1;

}
#mainvideo{
    position:relative;
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
    min-height: 700px;
    max-height: 700px;    
    left: 8%;
    margin-top: 60px;
}
#title{
    background-color: brown;
    display: flex;
    position: relative;
    width: 70%;
    height: 95px;
    left: 8%;
    
}
#description{
    background-color: chartreuse;
    display: flex;
    position: relative;
    width: 70%;
    height: 170px;
    left: 8%;

}
#sidebar{
    position:absolute;
    top: 58px;;
    width:22%;
    right: 2px;
    height:980px;
}


#tumbs{
    display: flex;
    justify-content: center;
    width: 140px;
    height: 90px;
    padding-bottom: 6px;
          
 }
h4{
    font-family:'Roboto';
    font-size: 14px;
    display: flex;
    margin-top: -80px;
    margin-left: 140px;
    

}
p{
    font-family:'Roboto';
    font-size: 12px;
    display: flex;
    margin-left: 140px;
        
}

#menubar{
    width: 24px;
    height: 24px;
    margin-top: 10px;
    display: inline-block;
}
#logo{
    margin-left: 15px; 
    display: inline-block;
    width: 70px;
    height: 25px;
}
.searchbar{
    display:inline-block;
    width: 531px;
    height: 24px;
    margin-left: 32%;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: lighter;
    border: solid 1px;
   
    padding-left: 10px;
}

#keyboard{
    width: 27px;
    height: 24px;
    display: block;
    border: solid 1px;
    padding-top: 2px;
    margin-top: -28px;
   margin-left: 80%;   
}
.keyboard{
    color: black;
    align-items: center;
    display: inline-block;
    margin-left: -30px;
  
}
.searchicon{
    color: black;
    display:inline-block;
    border: solid 1px;
    border-left: none;
    padding-left: 28px;
    padding-right: 25px;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-left: -3px;

}
#mic{
    position:absolute;
    padding-top: 15px;
    padding-left: 30px;
    
}
.apps{
    position: relative;
    margin-left: 30%;
}
#coments{
    background-color: yellow;
    display: flex;
    position: relative;
    width: 70%;
    height: 170px;
    left: 8%;
}        