#top{
background-color: white;    
position:fixed;
display: flex;
width: 100%;
top:0px;
height: 50px;
z-index: 1;

}
#mainvideo{
    position:relative;
    display: flex;
    flex-wrap: nowrap;
    width: 25%;
    height: 360px;   
    left: 29%;
    margin-top: 90px;
}
#title{
    display: flex;
    position: relative;
    width: 25%;
    height: 95px;
    left: 29%; 
}
#titletext{
    justify-content: left;
    font-family: "Roboto";
    font-style: normal;
}
#views{
    font-family: "Roboto";
    position:absolute;
    margin-top: 50px;    
}
a {
    text-decoration: none;
    font-family: "Roboto";
    color: black;
}
.like{
    position:absolute;
    right: 55%;
    margin-top: 50px; 
}
.numlikes{
    position:absolute;
    right: 50%;
   padding-top: 37px; 
}
.numdislikes{
    position:absolute;
    right: 39%;
   padding-top: 37px; 
}
.dislike{
    position:absolute;
    right: 42%;
    margin-top: 50px;
}
.share{
    position:absolute;
    right: 31%;
   padding-top: 37px; 
}
.sharetext{
    position:absolute;
    right: 22%;
   padding-top: 37px;   
}
.save{
    position:absolute;
    right: 15%;
   padding-top: 50px; 
}
.savetext{
    position:absolute;
    right:8%;
   padding-top: 37px;  
}
.more{
    position:absolute;
    right: 1%;
   padding-top: 50px;  
}
.share{
    padding-top: 50px;
}
#description{
    display: flex;
    position: relative;
    width: 25%;
    height: 170px;
    left: 29%;
    font-family: "Roboto";
    border-top: solid 0.1px;
}
.creatorprofile{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: 10px;
}
.subsbutton{
    position: absolute;
    border-radius: 2%;
    border:none;
    width: 160px;
    height: 40px;
    background-color: #c00;
    font-weight: bolder;
    font-size: 18px;
    color: white;
    right: 2%;
    margin-top:20px;
}
.descri{
    position: absolute;
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 25px;
    text-align: justify;
}
.showmore{
    background-color:white;
    z-index: 0;
    width: 100%;
    height: 30px;
    text-align: left;
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 13px;
    margin-top: 140px;
    border: none;
    margin-left: 6px;

}
.numsubs{
    position: absolute;
    margin-left: 60px;
    margin-top:40px ;
    font-size: 15px;
}
.creatorname{
    position: absolute;
    margin-left:60px ;
}

#sidebar{
    position:absolute;
    top: 200px;;
    width:22%;
    right: 23%;
    height:980px;
}


#tumbs{
    display: flex;
    justify-content: center;
    width: 140px;
    height: 90px;
    margin-bottom: 10px;
          
 }
.sugesttitles{
    font-family:'Roboto';
    font-size: 14px;
    display: flex;
    margin-top: -95px;
    margin-left: 140px;
    padding: 0px;
    

}
.sugestinfo{
    font-family:'Roboto';
    font-size: 12px;
    display: flex;
    margin-left: 140px;
        
}

#menubar{
    width: 24px;
    height: 24px;
    margin-top: 10px;
    display: inline-block;
}
#logo{
    margin-left: 15px; 
    display: inline-block;
    width: 70px;
    height: 25px;
    margin-top: 10px;
}
.searchbar{
    display:inline-block;
    width: 531px;
    height: 24px;
    margin-left: 31%;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: lighter;
    border: solid 1px;
    margin-top: 10px;
    padding-left: 10px;
}

.keyboard{
    color: black;
    align-items: center;
    display: inline-block;
    margin-left: -30px;
    margin-top: 16px;
  
}
.searchicon{
    color: black;
    display:inline-block;
    border: solid 1px;
    padding-left: 28px;
    padding-right: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 10px;
    margin-left: 5px;
    border-left: none;
}
#mic{
    display: inline-block;
    position: absolute;
    width: 24px;
    margin-top: 12px;
    margin-left: 40px;    
    
}
.apps{
    display: inline-block;
    position: absolute;
    width: 24px;
    margin: 10px;
    right: 5%;
}

.perfil{
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    width: 32px;
    margin-top: 7px;
    right:2%;
}
.notif{
    display: inline-block;
    position: absolute;
    width: 24px;
    margin-top: 10px;
    right: 4%;
}
.newvideo{
    display: inline-block;
    position: absolute;
    width: 24px;
    margin-top: 10px;
    right: 7%;
}

#coments{
    background-color: yellow;
    display: flex;
    position: relative;
    width: 25%;
    height: 500px;
    left: 29%;
    border-top: solid 0.5px;
}
p{
    font-family: "Roboto";
}
.numcomments{
    margin-top: 20px;
    font-size: 16px;
}
.sort{
    margin-top: 20px;
    margin-left: 45px;
    width: 24px;
    height: 24px;
}
.sorttext{
    font-size: 14px;
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 8px;
}
.comentsprofile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    margin-top: 60px;
}
.commentform{
    position: absolute;
    width: 91.5%;
    height: 25px;
    border:solid 0.5px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 60px;
    margin-left: 50px;
}     